
/* Trial navbar */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333;
  position: fixed;
  width: 100%;
}

li {
  display: inline-block;
}

.navbar {
  text-align: center;
  display: inline-block;
}

.navbarlogo {
  display: inline-block;
  max-width: 60px;
}

li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  color: black;
  /*background-color: #6ab587;*/
  background-color: #f1f1f1;
}

.dropbtn {
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 50px;
    max-width: 85px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
  /*background-color: #6ab587;*/
  color: black;
}

.dropdown:hover .dropdown-content {
    display: block;
    position: absolute;
    top: 45px;
    background-color: #333;
}

.dropdown:hover .dropbtn {

}

.jumbotron {

  background-size: cover;
  color: white;
  width: 100%;
  height: auto;

.body {
   background-color: rgb(238,238,238);
}

/* color scheme tbd, there's too many options! I got sidetracked... */
