
* {
  font-family: 'Balthazar', serif;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color:#0c1a1e;
  position: fixed;
  width: 100%;
}

.navbar li {
  display: inline-block;
  font-size: 17px;
}

.navbar {
  text-align: center;
  display: inline-block;
  z-index: 20;
}

.navbarlogo {
  display: inline-block;
  max-width: 60px;
}

li a {
  display: block;
  color: #a0a3a4;
  transition: color 0.2s linear 0s, background 0.2s linear 0s;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  color: #337ab7;
  transition: color 0.2s linear 0s, background 0.2s linear 0s;
  /*background-color: #6ab587;*/
  background-color: #f1f1f1;
  text-decoration: none;
}

li .navbarlogoitem a:hover {
  background-color: #0c1a1e;
  border: 1px solid #f1f1f1;
}

.sitemap-ul li a {
  padding: 14px 0px;
}

.sitemap-ul li a:hover {

}






.dropbtn {
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #0c1a1e;
    min-width: 50px;
    max-width: 85px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 20;
}

.dropdown-content a {
    color: #a0a3a4;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
  /*background-color: #6ab587;*/
  color: #337ab7;
}

.dropdown:hover .dropdown-content {
    display: block;
    position: absolute;
    top: 45px;
    background-color: #0c1a1e;
}

.carousel-inner img {
  height: 600px;
}

.carousel-caption a {
  font-size: 2rem;
  color: white;

}

.item .carousel-caption a:hover {
  color: white;
}

.jumbotron {

  background-size: cover;
  color: white;
  width: 100%;
  height: auto;
}

.body {
   background-color: rgb(238,238,238);
}

.item .btn-default {
  margin-top: 10px;
  margin-bottom: 10px;
}

.body-container {
  margin: 0 auto;
  width: 70%;
}

.content-container {
  float:left;
  width:60%;
  margin-right:5%;
  padding: 40px;
  min-height: 700px;
}

.image-container {
  float:left;
  width:35%;
}

.image-container img {
  margin-top: 110px;
}

.image-container .below-img {
  margin-top: 20px;
}

.clearfix {
  clear: both;
}

body h1 {
  font-size: 3.7em;
}

body p {
  font-size: 1.3em;
}



/* Footer */

footer {
  background-color:#0c1a1e;
  min-height:200px;
  max-height: 400px;
  font-family: 'Open Sans', sans-serif;
}

.footer-left {
  margin-top: 50px;
  padding: 0 36px;
}

.logo-footer img {
  max-width: 200px;
  margin: 20px 0 50px 0;
}

.paddingtop-bottom {
  margin-top: 50px;
}

.sitemap-ul {
  list-style-type: none;
  position: relative;
  float: left;
  margin-left: 0px;
  padding-left:0px;
}

.sitemap-ul li {
  line-height: 0.6rem;
  font-size: 17px;
  color: #a0a3a4;
  position: relative;

}

.sitemap-ul li a {
  color: #a0a3a4;
  transition: color 0.2s linear 0s, background 0.2s linear 0s;
}

.sitemap-ul li a:hover {
  transition: color 0.2s linear 0s, background 0.2s linear 0s;
  color: #337ab7;
}

 .footer-heading {
   font-size: 21px;
   font-weight: 700;
   color: #d9d6d6;
   margin-bottom: 22px;
 }

 .contact {
   font-size: 17px;
   color: #a0a3a4;
   line-height: 2rem;
 }

 .contact {
   list-style-type: none;
   float: right;
   margin-bottom: 0px;
 }

 .contact li {
   float: left;
 }

ul.contact li.location {
  background: url(location.png) 1px 3px no-repeat;
  padding-left:39px;
}

ul.contact li.email {
  background: url(email.png) 0px 15px no-repeat;
}

ul.contact li {
  padding-left: 25px;
  margin-bottom: 9px;
}

.social-media {
  margin: 5px 0 15px;
}

.social-media img {
  margin: 90px 0px 0px 30px;
}

/* footer end */

a.anchor {
    display: block;
    position: relative;
    top: -100px;
    visibility: hidden;
}

#submitemail {
  margin-top: 10px;
  margin-bottom: 10px;
}

.form-container {
  padding: 60px 0px 60px 50px;
  margin-left: 15%;
  margin-right: 15%;
  width: 70%;
  min-height: 600px;
  background-color: rgba(160, 163, 164, 0.1);
}

.sub-btn {
  margin-left: 20px;
  margin-bottom: 10px;
}

.youremail {
  width: 270px;
  display: block;
  padding: 5px 5px;
  margin: 10px 0px;
}

#sendmessage {
  position: relative;
  display: block;
  flolat: left;
}

.dances-text {
  margin-bottom: 60px;
}

.content-container h1 {
  padding: 20px;
}

.bachata-text {
  margin: 10px 0;
  padding: 10px;
}

.bachata-text h2{
  margin-bottom: 20px;
  text-align: center;
  margin-top: 40px;
}

.kizomba-text {
  margin-top: 80px;
  margin-bottom: 40px;
  padding: 10px;
}

.kizomba-text h2 {
  margin-bottom: 20px;
  margin-top: 80px;
  text-align: center;
}

.zouk-text {
  margin-bottom: 40px;
  padding: 10px;
  margin-top: 100px;
}

.zouk-text h2 {
  margin-bottom: 20px;
  margin-top: 80px;
  text-align: center;
}

.video {
  margin-top: 130px;
  text-align: center;
}

.kizvid {
  margin-top: 130px;
}

.zoukvid {
  margin-top: 220px;
}

.classes-link {
  color: #333;
  text-decoration: underline;
  font-size: 2rem;
}
